table {
	border-collapse: collapse; 
	border-spacing: 0; 
	border: 1px solid $color-grey;
	width: 100%;
	margin-bottom: (1em*$bl)-(1em/clear-units($bs)); // taking into account top margin 
}

th {
	text-align: left;
	border: 1px solid $color-grey;
}

td {
	border: 1px solid $color-grey;
}

// Each row effectively has a border below it. Top margin of table already taken into account on the table element
th, td {
	$lh: 1;
	line-height: $lh; 
	padding: 0.5em*($bl - $lh); 
	padding-bottom: (0.5em*($bl - $lh))-(1em/clear-units($bs)); 
}