// Font size scale

@function giga-size() { @return ms(8,1em); }
.giga, 
%giga {
	$fs: giga-size(); 
	$lh: 1; 
	font-size: $fs; 
	line-height: $lh; 
	@include calculate-heading-margins($bs, $fs, $lh, $bl, 1, 0); 
}

@function mega-size() { @return ms(7,1em); }
.mega, 
%mega {
	$fs: mega-size(); 
	$lh: 1; 
	font-size: $fs; 
	line-height: $lh; 
	@include calculate-heading-margins($bs, $fs, $lh, $bl, 1, 0); 
}

@function kilo-size() { @return ms(6,1em); }
.kilo, 
%kilo {
	$fs: kilo-size(); 
	$lh: 1; 
	font-size: $fs; 
	line-height: $lh; 
	@include calculate-heading-margins($bs, $fs, $lh, $bl, 1, 0); 
}

@function alpha-size() { @return ms(5,1em); }
.alpha, 
%alpha {
	$fs: alpha-size(); 
	$lh: 1; 
	font-size: $fs; 
	line-height: $lh; 
	@include calculate-heading-margins($bs, $fs, $lh, $bl, 1, 0); 
}

@function beta-size() { @return ms(4,1em); }
.beta, 
%beta {
	$fs: beta-size(); 
	$lh: 1; 
	font-size: $fs; 
	line-height: $lh; 
	@include calculate-heading-margins($bs, $fs, $lh, $bl, 0, 0); 
}

@function gamma-size() { @return ms(3,1em); }
.gamma, 
%gamma {
	$fs: gamma-size(); 
	$lh: 1; 
	font-size: $fs; 
	line-height: $lh; 
	@include calculate-heading-margins($bs, $fs, $lh, $bl, 0, 0); 
}

@function delta-size() { @return ms(2,1em); }
.delta, 
%delta {
	$fs: delta-size(); 
	$lh: 1; 
	font-size: $fs; 
	line-height: $lh; 
	@include calculate-heading-margins($bs, $fs, $lh, $bl, 0, 0); 
}

@function epsilon-size() { @return ms(1,1em); }
.epsilon, 
%epsilon {
	$fs: epsilon-size(); 
	$lh: 1; 
	font-size: $fs; 
	line-height: $lh; 
	@include calculate-heading-margins($bs, $fs, $lh, $bl, 0, 0); 
}

@function zeta-size() { @return ms(0,1em); }
.zeta, 
%zeta {
	$fs: zeta-size(); 
	$lh: 1.49; 
	font-size: $fs; 
	line-height: $lh; 
	@include calculate-heading-margins($bs, $fs, $lh, $bl, 0, 0); 
}

@function milli-size() { @return ms(-1,1em); }
.milli, 
%milli {
	$fs: milli-size(); 
	$lh: 1; 
	font-size: $fs; 
	line-height: $lh; 
	@include calculate-heading-margins($bs, $fs, $lh, $bl, 0, 0); 
}

@function micro-size() { @return ms(-2,1em); }
.micro, 
%micro {
	$fs: micro-size(); 
	$lh: 1; 
	font-size: $fs; 
	line-height: $lh; 
	@include calculate-heading-margins($bs, $fs, $lh, $bl, 0, 0); 
}

h1, h2, h3, 
h4, h5, h6 {
	font-family: $font-heading; 
	text-rendering: optimizeLegibility; 
	color: $color-heading; 
}
h1 {
	@extend .alpha; 
	position: relative; 
	top: 0em;
}
h2 {
	@extend .beta; 
	position: relative; 
	top: 0em;	
}
h3 {
	@extend .gamma; 
	position: relative; 
	top: 0em;
}
h4 {
	@extend .delta; 
	position: relative; 
	top: 0em;
}
h5 {
	@extend .epsilon; 
	position: relative; 
	top: 0em;
}
h6 {
	@extend .zeta; 
	position: relative; 
	top: 0em;
}
small {
	@extend .milli; 
	position: relative; 
	top: 0em;
}

hr {
	border: 0;
  height: 1px;
  background: $color-grey;
}

abbr {
  border-bottom: 1px dotted $color-grey;
  cursor: help;
}

// http://typeplate.com/#hyphenation
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
	// http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
	@include hyphens(none);
}