html {
	font-size: $bs; 
	font-family: $font-body; 
	line-height: $bl; 
	color: $color-text; 
	word-wrap: break-word; 
	@include hyphens(auto); 
}

/**
 * Browser upgrade notice
 */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}