/*!Colours */
$color-blue: blue; 
$color-green: green; 
$color-red: red; 
$color-grey: grey; 

$color-text: #222; 
$color-error: $color-red; 
$color-link: $color-blue; 
$color-link-hover: lighten($color-blue, 20%); 